body{
    font-family: 'Arvo', serif;
}



.height{
    min-height: 100vh;
}

.title-underline{
    width: 200px;
    height: 5px;
    margin: 0 auto;
}

.height-80{
    min-height: 80vh;
}

.about-picture{
    background: url(../img/about-bcg1.jpg)center/cover no-repeat fixed;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

#filler{
    background: url(../img/project1.jpeg)center/cover no-repeat fixed;
}
